@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body { font-family: var(--font-Outfit); }

@theme inline {
  /* Colors */
  --color-light-hover: #fcf4ff;
  --color-dark-theme: #121212;
  --color-dark-hover: #262626;

  /* --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f; */

  /* Fonts */
  --font-Outfit: var(--_next_font_outfit);
  --font-Ovo: var(--_next_font_ovo);

  /* Shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

  
}

/* Custom Grid */
@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}