@import "tailwindcss";

html, body { font-family: var(--font-Outfit); }

@theme inline {
  /* Colors */
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  /* Fonts */
  --font-Outfit: var(--_next_font_outfit);
  --font-Ovo: var(--_next_font_ovo);
}