@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  font-family: var(--font-Outfit);
}

@theme inline {
  /* Colors */
  --color-light-hover: #fcf4ff;
  --color-dark-theme: #121212;
  --color-dark-hover: #262626;

  /* --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f; */

  /* Fonts */
  --font-Outfit: var(--_next_font_outfit);
  --font-Ovo: var(--_next_font_ovo);

  /* Shadows */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;



  /* Animations */
  --animate-wheel: wheel 2s infinite;
  --animate-scroll-down: scroll-down 1.5s infinite;

  @keyframes wheel {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  @keyframes scroll-down {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translateY(15px);
    }

    40% {
      transform: translate(0);
    }
  }
}

/* Custom Grid */
@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}